<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>简历详情</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" href="../css/xiangqing.css" />
</head>
<body>

<div>

    <div>
        <p class="p1">简历详情</p>
    </div>

    <div class="main">
        <div class="left">

            <li><a href="#">权限管理</a> </li>
            <li><a href="#">部门管理</a> </li>
            <li><a href="#">员工管理</a> </li>
            <li><a href="#">办公区管理</a> </li>
            <li><a href="#">用户管理</a> </li>
            <li><a href="#">公司管理</a> </li>
            <li><a href="#">岗位管理</a> </li>
            <li><a href="#">车辆管理</a> </li>
            <li><a href="#">学生管理</a> </li>
            <li><a style="color: blue;"href="#">简历管理</a> </li>

        </div>

        <div class="right">
            <p class="p2">简历管理</p>

            <form >
                    <span class="form-group">

                        <p>求实习岗位</p>
                        <!-- 传递标题 -->
                    </span>
                <div class="ceng3">
                        <span class="form-group">
                            <p>学生姓名:</p>
                            <p>李雷</p>
                            <!-- 此处姓名 -->
                        </span>
                    <span class="form-group">
                            <p>性别:</p>
                            <p>男</p>
                        <!-- 此处性别 -->
                        </span>
                    <span class="form-group">
                            <p>电话:</p>
                            <p>-</p>
                        <!-- 此处电话 -->
                        </span>
                </div>
                <div class="ceng3">
                        <span class="form-group">
                            <p>学校:</p>
                            <p>云南师范大学</p>
                            <!-- 此处学校 -->
                        </span>
                    <span class="form-group">
                            <p>专业:</p>
                            <p>计算机</p>
                        <!-- 此处专业 -->
                        </span>
                    <span class="form-group">
                            <p>状态:</p>
                            <p>在读</p>
                        <!-- 此处状态 -->
                        </span>
                </div>

                <div class="ceng3">
                        <span class="form-group">
                            <p>投递公司:</p>
                            <p>喜洋洋，亮晶晶</p>
                            <!-- 此处投递公司 -->
                        </span>
                    <span class="form-group">
                            <p>意向岗位:</p>
                            <p>程序员， UI设计师</p>
                        <!-- 此处意向岗位 -->
                        </span>
                </div>

                <div>
                    <p>内容:</p>
                    <p>过度繁荣发生的分案发当时范德萨富士达富士达卡机佛发生的链接发就解放军i<br>哦解放军哦i阿尔解放拉萨的咖啡机哦欺复活节欧拉飞机埃文斯红藕那儿将孙<br>女从i就数哦放到为反倒是费缴费金额哦平均分
                    </p>
                </div>

                <div class="ceng1">
                        <span>
                            <p>创建时间:</p>
                            <p> 2021-08-10</p>
                        </span>
                    <span>
                            <p>更新时间:</p>
                            <p> </p>
                        </span>
                </div>
            </form>

        </div>
    </div>

</div>




</body>
</html>